:root {
    --image_url: "";
    --is_light: 0;
    --custom_darken: -5;
    --system_is_dark: 1;
}
@media (prefers-color-scheme: light) {
    :root {
        --system_is_dark: 0;
    }
}

/* BACKGROUND */
#main::before,
.Root__top-container::before {
    content: "";
    background-image: var(--image_url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
    pointer-events: none;
    backface-visibility: hidden;
    will-change: transform;
    transition: background-image var(--transition);
    opacity: 0.1;
    z-index: +4;
}

/* LEFT SIDEBAR */
.Root__nav-bar,
.main-yourLibraryX-libraryContainer{
     background-color: transparent
 } 
 .main-yourLibraryX-entryPoints,
 .playlist-playlist-playlistContent {
     background-color: transparent !important
 }
 .main-yourLibraryX-header .main-yourLibraryX-collapseButtonWrapper {
   color: var(--spice-subtext);
 }
 .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px {
     background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
 }
 .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px:hover {
     background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
 }
 .main-navBar-navBarLinkActive, .main-collectionLinkButton-selected {
   border-radius: 0px !important;
 }
 .Root__globalNav .main-globalNav-link-icon,
.Button-sc-1dqy6lx-0,
.Button-textBase-medium-medium-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle,
.encore-text-body-medium-bold,
.main-userWidget-box {
	 background: none;
 }
 .encore-dark-theme {
    --background-elevated-base: #30303000;
}
 .main-yourLibraryX-libraryContainer {
   --background-highlight: rgba(255,255,255,0.05) !important;
   --background-press: rgba(255,255,255,0.05);
 }
 .main-rootlist-wrapper {
   --spice-rgb-shadow: !important;
 }
 .main-yourLibraryX-isScrolled {
   -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
   transition: box-shadow 0.1s ease;
 }
 .main-yourLibraryX-listRowEntityImage {
   box-shadow: -2px 4px 6px 2px rgb(0 0 0 / 14%);;
 }
.main-yourLibraryX-listItemGroup:hover::after {
    background: rgba(var(--spice-rgb-selected-row), calc(var(--is_light) * (-0.13) + 0.2));
}
.main-yourLibraryX-listItemGroup div:hover {
    background: unset;
}
.main-yourLibraryX-listItemGroup:hover .LineClamp,
.main-yourLibraryX-listItemGroup:hover .main-yourLibraryX-listRowSubtitleLeadingWrapper {
    color: var(--spice-text);
}

/* RIGHT SIDEBAR + LYRICS */
.main-nowPlayingView-section,
.ffFwfKcPDbmAPLXzxzKq {
	background-color: transparent;
	padding: 0px;
	max-height: 327px;
}
.main-nowPlayingView-aboutArtist,
.main-nowPlayingView-aboutArtistV2,
.main-nowPlayingView-queue,
.main-nowPlayingView-credits,
.main-nowPlayingView-merch,
.main-nowPlayingView-artistOnTour {
    display: none;
}
.main-lyricsCinema-container,
.lyrics-lyrics-container,
.main-nowPlayingView-lyricsGradient,
.gqaWFmQeKNYnYD5gRv3x {
    grid-area: none;
    --lyrics-color-background: unset !important;
    --lyrics-color-active: var(--spice-text) !important;
    --lyrics-color-inactive: rgba(255, 255, 255, 0.2) !important;
    --lyrics-color-passed: rgba(255, 255, 255, 0.5) !important;
    --lyrics-color-messaging: var(--spice-text) !important;
}
:root {
  --lyrics-text-direction: left;
}
.lyrics-lyricsContent-lyric {
  transform-origin: var(--lyrics-text-direction);
  transform: scale(0.9);
  text-shadow: -1px 3px 20px rgb(0 0 0 / 15%);
  transition: transform 400ms ease, text-shadow 400ms ease, color 50ms ease;
  max-height: 3000px;
  max-width: 3000px;
}
.C3pBU1DsOUJJOAv89ZFT {
  color: var(--lyrics-text-direction) !important;
}
.lyrics-lyricsContent-lyric:hover {
  color: var(--lyrics-color-active) !important;
}
.lyrics-lyricsContent-isInteractive:active {
  transform: scale(0.9);
}
.lyrics-lyricsContent-active {
  transform: scale(1);
  text-shadow: 0 0 15px var(--spice-text) !important;
}
.Root__top-container:has(.FUYNhisXTCmbzt9IDxnT) .main-topBar-container,
.Root__top-container:has(.FUYNhisXTCmbzt9IDxnT) .under-main-view {
  display: none;
}
button:has(path[d='M11.196 8 6 5v6l5.196-3z'],
path[d='.966.783 1.75 1.75 1.75h10.5a1.75']),
.DFvRASpHOFAoziM4w7En {
	display: none;
}
.E08D6ucrHuPJYzzGO7HG:hover:after,
.eE_GTFbVOesrDJsMsoJF:hover:after {
    opacity: 1;
}
.E08D6ucrHuPJYzzGO7HG:after,
.E08D6ucrHuPJYzzGO7HG:before,
.eE_GTFbVOesrDJsMsoJF:after,
.eE_GTFbVOesrDJsMsoJF:before {
    background: linear-gradient(180deg, hsla(0, 0%, 7%, .20), hsla(0, 0%, 7%, 0), hsla(0, 0%, 7%, 0.2), var(--spice-main));
}

/* SEARCH BOXES */
input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}
input::placeholder {
    color: var(--spice-subtext) !important;
}
input:focus {
    box-shadow: none !important;
}

/* H1-LIKE TITLES */
h1,
.main-entityHeader-titleButton,
.main-entityHeader-title,
.main-shelf-title,
.TypeElement-canon-textBase-type {
    color: var(--spice-subtext) !important;
}
.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

/* TOPBAR */
.Root__top-bar {
    z-index: 1;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}
.main-trackList-trackListHeader {
    background: none !important;
    position: static !important;
}
.LVMjmN2CaPruPAo62RAY {
    display: none;
}

/* REMOVE TOP GRADIENT */
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-home-homeHeader {
	display: none !important;
}
.main-entityHeader-container.JYKKZFIXuf9lIHVeszuS,
.XVz4BMGP5zAEE5p90mYK,
.Bdcf5g__Rug3TGqSdbiy {
  background: transparent !important;
}

/* CONTEXT MENU */
div#context-menu:before,
.main-contextMenu-menu:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1px !important;
  backdrop-filter: blur(15px);
}
.main-contextMenu-menu {
  border-radius: 1px;
  padding: 1px
}
.main-contextMenu-menuItemButton {
    border-radius: 1px;
}
.main-contextMenu-menu,
.main-contextMenu-tippy,
.NbcaczStd8vD2rHWwaKv {
  background: transparent !important;
}
.x-filterBox-filterInput {
  height: 36px
}
.main-contextMenu-filterPlaylistSearchContainer {
  height: auto;
}
.DquSH3YjnaIIXMZiOvwA,
.X5mwWAw7ijxPvQOoabzQ {
    background: transparent !important;
    backdrop-filter: blur(15px);
}
.XvgFwKtvocRdadc47KE9:hover>:first-child {
    background: rgba(var(--spice-rgb-selected-row), 0.2);
}
.tippy-box[data-theme~=device-picker] {
	background-color: unset;
	backdrop-filter: blur(15px);
}

/* NOTIFICATION TOASTER */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
    color: #ffffff;
    background-color: var(--spice-text);
}
.main-notificationBubbleContainer-NotificationBubbleContainer .TypeElement-balladBold-textBase-type {
    color: #ffffff;
}
.encore-light-theme .encore-layout-themes,
.RQREWe_yBdtc_g6eC3wQ {
    background: transparent !important;
	color: var(--text-subdued) !important;
	backdrop-filter: blur(15px);
}

/* DROP DOWN */
.main-dropDown-dropDown,
select, option {
    color: var(--text-subdued) !important;
    background-color: var(--spice-notification) !important;
}

/* PLAYLIST HEADER */
.main-duration-container,
.main-entityHeader-metaDataText,
.playlist-playlist-playlistDescription {
    color: var(--spice-text);
}

/* MENU ITEM HOVER */
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    background: rgba(var(--spice-rgb-selected-row), 0.2);
}
.main-contextMenu-menuItemButton {
    color: var(--spice-subtext);
}

/* EXPLICIT LYRICS ICON */
.main-tag-container {
    color: var(--spice-subtext);
    background: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

/* PLAYLIST TOP BUTTONS */
.os-viewport button:not(.main-playButton-primary):not(:hover) {
    color: var(--spice-subtext) !important;
}
/* album year info */
.main-trackInfo-release {
    font-size: 0.6875rem;
    grid-row: 4;
    grid-column: 1 / 3;
}

/* FIX PLAYER BAR BUTTONS */
.main-nowPlayingBar-left button,
.main-nowPlayingBar-left button[aria-checked="false"],
.main-nowPlayingBar-right button,
.main-nowPlayingBar-right button:focus:not(:focus-visible):not(:hover),
.main-nowPlayingBar-center button:not(.main-playPauseButton-button),
.main-nowPlayingBar-center button:focus:not(:focus-visible):not(:hover) {
    color: var(--spice-subtext);
}
.main-nowPlayingBar-left button:active,
.main-nowPlayingBar-right button:active,
.main-nowPlayingBar-center button:not(.main-playPauseButton-button):active {
    color: rgba(var(--spice-rgb-text), 0.7) !important;
}
.main-playPauseButton-button {
    color: var(--spice-main) !important;
}

/* FIX DISCOGRAPHY BUTTONS */
.encore-dark-theme .encore-inverted-light-set {
    --background-highlight: var(--spice-button-active);
}

/* HIGHLIGHT CURRENT PLAYING SONG */
.main-trackList-active {
    background: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}
.encore-dark-theme .encore-bright-accent-set {
    --background-highlight: var(--spice-text);
    --background-press: var(--spice-button-active);
    --decorative-subdued: var(--spice-text);
}

/* TOP BUTTONS */
.main-topBar-historyButtons .main-topBar-button,
.main-topBar-buddyFeed,
.encore-dark-theme .encore-over-media-set {
    background: rgba(var(--spice-rgb-selected-row), 0.2) !important;
	color: rgba(var(--spice-rgb-text), 0.5);
}
.search-searchCategory-carouselButton {
    background: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}

/* BOTTOM BAR */
.main-nowPlayingBar-nowPlayingBar {
    background-color: unset;
    height: 55px;
}
button:has(path[d='M6.53 9.47a.75.75 0 0 1 0 1.06l-2.72 2.72h1.018a.75.75 0 0 1 0 1.5H1.25v-3.579a.75.75 0 0 1 1.5 0v1.018l2.72-2.72a.75.75 0 0 1 1.06 0zm2.94-2.94a.75.75 0 0 1 0-1.06l2.72-2.72h-1.018a.75.75 0 1 1 0-1.5h3.578v3.579a.75.75 0 0 1-1.5 0V3.81l-2.72 2.72a.75.75 0 0 1-1.06 0z']) {
	display: none;
}
button:has(path[d='M16 2.45c0-.8-.65-1.45-1.45-1.45H1.45C.65 1 0 1.65 0 2.45v11.1C0 14.35.65 15 1.45 15h5.557v-1.5H1.5v-11h13V7H16V2.45z']) {
	display: none;
}

/* TOPBAR TEXT PADDING */
.main-entityHeader-topbarTitle {
    padding-left: 8px;
}

/* SEARCH CARDS */
.search-searchBrowse-SearchBrowse span.TypeElement-canon-type,
.x-categoryCard-title {
    color: white;
}

/* TOOLTIP CARDS */
.encore-announcement-set,
.encore-announcement-set button {
    color: white;
}
.tippy-box {
    color: var(--spice-text);
    border-color: var(--spice-text);
    background-color: var(--spice-shadow) !important;
}
.tippy-arrow {
    color: var(--spice-text);
}

/* FIX PODCAST ICON */
.view-homeShortcutsGrid-imageWrapper > *,
.main-yourEpisodes-coverContainer {
    background-color: var(--spice-highlight);
}

/* VERIFIED BADGE */
.artist-artistVerifiedBadge-fillColor {
    background-color: var(--spice-main);
}
.artist-artistVerifiedBadge-badge {
    fill: var(--spice-text);
}

/* REMOVE BLUE OUTLINE IN CONFIRMATION POPUP */
.main-confirmDialog-buttonContainer button:focus {
    outline: 5px auto white;
}

/* PLAYLIST TIPS POPUP */
.StyledPopover-dialog-popover {
    --background-elevated-base: var(--spice-text) !important;
}

/* PLAYLIST FILTER PILLS */
.ChipInnerComponent-selected-secondary {
    background: var(--essential-subdued) !important;
}

/* SMOOTH COLOR TRANSITIONS */
@property --spice-sidebar {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-main {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-text {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-subtext {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-button {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-player {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
html {
    transition:
        --spice-sidebar 0.5s,
        --spice-main 0.5s,
        --spice-text 0.5s,
        --spice-subtext 0.5s,
        --spice-button 0.5s,
        --spice-player 0.5s;
}

/* EXPERIMENTAL FEATURES */
.GenericModal > .main-embedWidgetGenerator-container {
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    height: 1040px;
}
.spicetify-exp-features button.switch {
    border-radius: transparent !important
}
.spicetify-exp-features input.search {
    border: none !important;
    background-color: rgba(var(--spice-rgb-selected-row),.1) !important;
    border-radius: var(--button-border);
    padding: 10px 36px;
    color: var(--spice-text);
    width: 100%;
}
.spicetify-exp-features .setting-row .col.description {
    font-size: 0.95rem;
}

/* TRANSPARENT WINDOW CONTROLS */
.Root__top-container {
  padding-top: max(var(--topbar-height, 68px) / var(--zoom, 1), 8px);
}
html:not(.spotify__container--is-desktop.fullscreen) body.windows:not(.video-full-window)::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 999;
  -webkit-backdrop-filter: brightness(2.12);
  backdrop-filter: brightness(2.12);
  width: calc(135px / var(--zoom, 1));
  height: calc(var(--topbar-height, 40px) / var(--zoom, 1));
}
html:not(.spotify__container--is-desktop.fullscreen) body.global-nav.windows:not(.video-full-window)::after {
  --topbar-height: 64px;
}
html:not(.spotify__container--is-desktop.fullscreen) body.global-nav-centered.windows:not(.video-full-window)::after {
  height: min(32px / var(--zoom, 1),
      var(--topbar-height, 64px) / var(--zoom, 1));
  top: calc((var(--topbar-height, 64px) / var(--zoom, 1) - min(32px / var(--zoom, 1), var(--topbar-height, 64px))) / 2);
}

/* SCROLLBAR */
.main-embedWidgetGenerator-container > .main-trackCreditsModal-mainSection::-webkit-scrollbar,
.os-scrollbar-vertical, .os-scrollbar-horizontal,
.main-contextMenu-menu::-webkit-scrollbar,
.main-nowPlayingView-lyricsContent::-webkit-scrollbar,
.os-scrollbar-vertical:hover,
.os-scrollbar-vertical:active,
.main-embedWidgetGenerator-container > .main-trackCreditsModal-mainSection::-webkit-scrollbar-thumb,
.main-nowPlayingView-lyricsContent::-webkit-scrollbar-thumb,
.main-contextMenu-menu::-webkit-scrollbar-thumb,
.os-scrollbar-handle:before {
	width: 6px !important;
    border-radius: 9px !important;
    background: var(--spice-rgb-selected-row);
}
.os-scrollbar-handle {
    border-radius: 9px !important;
}
.os-theme-spotify > .os-scrollbar-vertical {
    margin: 6px 2px 6px 0
}

/* FIX NOW PLAYING ICON COLOR */
.main-trackList-playingIcon {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg id='playing-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 24'%3E%3Cdefs%3E%3Cstyle%3E %23playing-icon %7B fill: %2320BC54; %7D @keyframes play %7B 0%25 %7Btransform: scaleY(1);%7D 3.3%25 %7Btransform: scaleY(0.9583);%7D 6.6%25 %7Btransform: scaleY(0.9166);%7D 9.9%25 %7Btransform: scaleY(0.8333);%7D 13.3%25 %7Btransform: scaleY(0.7083);%7D 16.6%25 %7Btransform: scaleY(0.5416);%7D 19.9%25 %7Btransform: scaleY(0.4166);%7D 23.3%25 %7Btransform: scaleY(0.25);%7D 26.6%25 %7Btransform: scaleY(0.1666);%7D 29.9%25 %7Btransform: scaleY(0.125);%7D 33.3%25 %7Btransform: scaleY(0.125);%7D 36.6%25 %7Btransform: scaleY(0.1666);%7D 39.9%25 %7Btransform: scaleY(0.1666);%7D 43.3%25 %7Btransform: scaleY(0.2083);%7D 46.6%25 %7Btransform: scaleY(0.2916);%7D 49.9%25 %7Btransform: scaleY(0.375);%7D 53.3%25 %7Btransform: scaleY(0.5);%7D 56.6%25 %7Btransform: scaleY(0.5833);%7D 59.9%25 %7Btransform: scaleY(0.625);%7D 63.3%25 %7Btransform: scaleY(0.6666);%7D 66.6%25 %7Btransform: scaleY(0.6666);%7D 69.9%25 %7Btransform: scaleY(0.6666);%7D 73.3%25 %7Btransform: scaleY(0.6666);%7D 76.6%25 %7Btransform: scaleY(0.7083);%7D 79.9%25 %7Btransform: scaleY(0.75);%7D 83.3%25 %7Btransform: scaleY(0.8333);%7D 86.6%25 %7Btransform: scaleY(0.875);%7D 89.9%25 %7Btransform: scaleY(0.9166);%7D 93.3%25 %7Btransform: scaleY(0.9583);%7D 96.6%25 %7Btransform: scaleY(1);%7D %7D %23bar1 %7B transform-origin: bottom; animation: play 0.9s -0.51s infinite; %7D %23bar2 %7B transform-origin: bottom; animation: play 0.9s infinite; %7D %23bar3 %7B transform-origin: bottom; animation: play 0.9s -0.15s infinite; %7D %23bar4 %7B transform-origin: bottom; animation: play 0.9s -0.75s infinite; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eplaying-icon%3C/title%3E%3Crect id='bar1' class='cls-1' width='4' height='24'/%3E%3Crect id='bar2' class='cls-1' x='6' width='4' height='24'/%3E%3Crect id='bar3' class='cls-1' x='12' width='4' height='24'/%3E%3Crect id='bar4' class='cls-1' x='18' width='4' height='24'/%3E%3C/svg%3E"); background: var(--spice-button); content-visibility: hidden; -webkit-mask-repeat: no-repeat;
}

/* CURSOR POINTER  */
button,
.show-followButton-button,
.main-dropDown-dropDown,
.x-toggle-wrapper,
.main-playlistEditDetailsModal-closeBtn,
.main-trackList-rowPlayPauseButton,
.main-rootlist-rootlistItemLink:link,
.main-rootlist-rootlistItemLink:visited,
.x-sortBox-sortDropdown,
.main-contextMenu-menuItemButton,
.main-trackList-column,
.main-moreButton-button,
.x-downloadButton-button,
.main-playButton-PlayButton,
.main-coverSlotExpandedCollapseButton-chevron,
.main-coverSlotCollapsed-chevron,
.control-button:focus,
.control-button:hover,
.main-repeatButton-button,
.main-skipForwardButton-button,
.main-playPauseButton-button,
.main-skipBackButton-button,
.main-shuffleButton-button,
.main-addButton-button,
.progress-bar__slider,
.playback-bar,
.main-editImageButton-image,
.X1lXSiVj0pzhQCUo_72A,
.main-card-card,
.main-trackList-trackListRow,
.Dropdown-control {
	cursor: pointer !important;
}
