:root {
    --image_url: "";
    --is_light: 0;
    --custom_darken: -5;
    --system_is_dark: 1;
    --warning_message: "You haven't installed 'ProSpotify.js' extension.";
}
div.ReactModalPortal:last-of-type::before {
    font-size: 30px;
    content: var(--warning_message);
}
@media (prefers-color-scheme: light) {
    :root {
        --system_is_dark: 0;
    }
}

/* REMOVE LEFT SIDEBAR BACKGROUND */
.Root__nav-bar  {
     background-color: transparent
 } 
 .main-yourLibraryX-entryPoints, .playlist-playlist-playlistContent {
     background-color: transparent !important
 }
 .main-yourLibraryX-header .main-yourLibraryX-collapseButtonWrapper {
   color: var(--spice-subtext);
 }
 .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px {
     background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
 }
 .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px:hover {
     background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
 }
 .main-navBar-navBarLinkActive, .main-collectionLinkButton-selected {
   border-radius: 0px !important;
 }
 .main-yourLibraryX-libraryContainer {
   --background-highlight: rgba(255,255,255,0.05) !important;
   --background-press: rgba(255,255,255,0.05);
 }
 .main-rootlist-wrapper {
   --spice-rgb-shadow: !important;
 }
 .main-yourLibraryX-isScrolled {
   -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
   box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
   transition: box-shadow 0.1s ease;
 }
 .main-yourLibraryX-listRowEntityImage {
   box-shadow: -2px 4px 6px 2px rgb(0 0 0 / 14%);;
 }

/* SEARCH BOXES */
input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}
input::placeholder {
    color: var(--spice-subtext) !important;
}
input:focus {
    box-shadow: none !important;
}

/* H1-LIKE TITLES */
h1, .main-entityHeader-titleButton,.main-entityHeader-title, .main-shelf-title, .TypeElement-canon-textBase-type {
    color: var(--spice-subtext) !important;
}
.x-searchInput-searchInputSearchIcon, .x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

/* REMOVE TOPBAR BACKGROUND COLOUR */
.Root__top-bar {
    z-index: 1;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}
.nav-ylx .main-trackList-trackListHeaderStuck.main-trackList-trackListHeader, .main-trackList-trackListHeader.main-trackList-trackListHeaderStuck {
  background: transparent;
  position: static !important;
}

/* TRANSLUCENT BACKGROUND COVER */
#main::before, .Root__top-container::before {
    content: "";
    background-image: var(--image_url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
    pointer-events: none;
    backface-visibility: hidden;
    will-change: transform;
    transition: background-image var(--transition);
    opacity: 0.17;
    z-index: +4;
}

/* CONTEXT MENU */
div#context-menu:before, .main-contextMenu-menu:before {
  content: '';
  background-image: var(--image_url);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1px !important;
  backdrop-filter: blur(15px);
  opacity: 0.17;
}
.main-contextMenu-menu {
  border-radius: 1px;
  padding: 1px
}
.main-contextMenu-menu::-webkit-scrollbar-thumb {
  border-radius: 1px;
}
.main-contextMenu-menu::-webkit-scrollbar {
  width: 4px !important;
  transition: width 0.0s ease;
}
.main-contextMenu-menuItemButton {
    border-radius: 1px;
}
.main-contextMenu-menu, .main-contextMenu-tippy, .NbcaczStd8vD2rHWwaKv {
  background: transparent !important;
}
.x-filterBox-filterInput {
  height: 36px
}
.main-contextMenu-filterPlaylistSearchContainer {
  height: auto;
}

/* NOTIFICATION TOASTER */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
    color: #ffffff;
    background-color: var(--spice-text);
}
.main-notificationBubbleContainer-NotificationBubbleContainer .TypeElement-balladBold-textBase-type {
    color: #ffffff;
}

/* DROP DOWN */
.main-dropDown-dropDown, select, option {
    color: var(--text-subdued) !important;
    background-color: var(--spice-notification) !important;
}

/* LYRICS */
.main-lyricsCinema-container, .lyrics-lyrics-container, .main-nowPlayingView-lyricsGradient {
    --lyrics-color-background: unset !important;
    --lyrics-color-active: var(--spice-text) !important;
    --lyrics-color-inactive: rgba(255, 255, 255, 0.2) !important;
    --lyrics-color-passed: rgba(255, 255, 255, 0.5) !important;
    --lyrics-color-messaging: var(--spice-text) !important;
}
.main-nowPlayingView-sectionHeaderSpacing .main-nowPlayingView-lyricsTitle {
    color: var(--spice-text);
    min-height: 32px;
}
:root {
  --lyrics-text-direction: left;
}
.lyrics-lyricsContent-lyric {
  transform-origin: var(--lyrics-text-direction);
  transform: scale(0.9);
  text-shadow: -1px 3px 20px rgb(0 0 0 / 15%);
  transition: transform 400ms ease, text-shadow 400ms ease, color 50ms ease;
}

/* LYRICS NOT AVAILABLE MESSAGE */
.C3pBU1DsOUJJOAv89ZFT {
  color: var(--lyrics-text-direction) !important;
}
.lyrics-lyricsContent-lyric:hover {
  color: var(--lyrics-color-active) !important;
}
.lyrics-lyricsContent-isInteractive:active {
  transform: scale(0.9);
}
.lyrics-lyricsContent-active {
  transform: scale(1);
  text-shadow: 0 0 15px var(--spice-text) !important;
}

/* PLAYLIST HEADER */
.main-duration-container, .main-entityHeader-metaDataText, .playlist-playlist-playlistDescription {
    color: var(--spice-text);
}

/* MENU ITEM HOVER */
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus, .main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    background: rgba(var(--spice-rgb-selected-row), 0.2);
}
.main-contextMenu-menuItemButton {
    color: var(--spice-subtext);
}

/* EXPLICIT LYRICS ICON */
.main-tag-container {
    color: var(--spice-subtext);
    background: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

/* PLAYLIST TOP BUTTONS */
.os-viewport button:not(.main-playButton-primary):not(:hover) {
    color: var(--spice-subtext) !important;
}

/* ALBUM YEAR INFO */
.main-trackInfo-release {
    font-size: 0.6875rem;
}

/* FIX PLAYER BAR BUTTONS */
.main-nowPlayingBar-left button, .main-nowPlayingBar-left button[aria-checked="false"], .main-nowPlayingBar-right button, .main-nowPlayingBar-right button:focus:not(:focus-visible):not(:hover), .main-nowPlayingBar-center button:not(.main-playPauseButton-button), .main-nowPlayingBar-center button:focus:not(:focus-visible):not(:hover) {
    color: var(--spice-subtext);
}
.main-nowPlayingBar-left button:active, .main-nowPlayingBar-right button:active, .main-nowPlayingBar-center button:not(.main-playPauseButton-button):active {
    color: rgba(var(--spice-rgb-text), 0.7) !important;
}
.main-playPauseButton-button {
    color: var(--spice-main) !important;
}

/* FIX DISCOGRAPHY BUTTONS */
.encore-dark-theme .encore-inverted-light-set {
    --background-highlight: var(--spice-button-active);
}

/* HIGHLIGHT CURRENT PLAYING SONG */
.main-trackList-active {
    background: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}
.encore-dark-theme .encore-bright-accent-set {
    --background-highlight: var(--spice-text);
    --background-press: var(--spice-button-active);
    --decorative-subdued: var(--spice-text);
}

/* TOP BUTTONS */
.main-topBar-historyButtons .main-topBar-button {
    background: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}
.main-topBar-buddyFeed {
    color: rgba(var(--spice-rgb-text), 0.5);
}
.search-searchCategory-carouselButton {
    background-color: var(--background-tinted-highlight);
}

/* BOTTOM BAR BACKGROUND */
.main-nowPlayingBar-nowPlayingBar {
    background-color: unset;
  }

/* TOPBAR TEXT PADDING */
.main-entityHeader-topbarTitle {
    padding-left: 8px;
}

/* SEARCH CARDS */
.search-searchBrowse-SearchBrowse span.TypeElement-canon-type, .x-categoryCard-title {
    color: white;
}

/* TOOLTIP CARDS */
.encore-announcement-set, .encore-announcement-set button {
    color: white;
}
.tippy-box {
    color: var(--spice-text);
    border-color: var(--spice-text);
    background-color: var(--spice-shadow) !important;
}
.tippy-arrow {
    color: var(--spice-text);
}

/* FIX PODCAST ICON */
.view-homeShortcutsGrid-imageWrapper > *, .main-yourEpisodes-coverContainer {
    background-color: var(--spice-highlight);
}

/* VERIFIED BADGE */
.artist-artistVerifiedBadge-fillColor {
    background-color: var(--spice-main);
}
.artist-artistVerifiedBadge-badge {
    fill: var(--spice-text);
}

/* LEFT SIDEBAR HOVER */
.main-yourLibraryX-listItemGroup:hover::after {
    background: rgba(var(--spice-rgb-selected-row), calc(var(--is_light) * (-0.13) + 0.2));
}
.main-yourLibraryX-listItemGroup div:hover {
    background: unset;
}
.main-yourLibraryX-listItemGroup:hover .LineClamp, .main-yourLibraryX-listItemGroup:hover .main-yourLibraryX-listRowSubtitleLeadingWrapper {
    color: var(--spice-text);
}

/* REMOVE BLUE OUTLINE IN CONFIRMATION POPUP */
.main-confirmDialog-buttonContainer button:focus {
    outline: 5px auto white;
}

/* PLAYLIST TIPS POPUP */
.StyledPopover-dialog-popover {
    --background-elevated-base: var(--spice-text) !important;
}

/* PLAYLIST FILTER PILLS */
.ChipInnerComponent-selected-secondary {
    background: var(--essential-subdued) !important;
}

/* OPTIONAL MODE WITH EMPHASIZED BACKGROUND */
@container style(--spice-contrast: #010101) {
    #main::before, .Root__top-container::before {
        filter: blur(80px) contrast(1.2) saturate(1);
        opacity: calc(0.5 - var(--is_light) * 0.1);
        z-index: 0;
    }
  
    /* REMOVE THE BACKGROUNDS FROM HOME */
    .main-home-homeHeader, .Root__top-container, .Root__main-view {
        background: unset !important;
    }

    /* NEW HOME BLOCK BACKGROUNDS */
    .view-homeShortcutsGrid-shortcut, .main-card-card {
        background-color: rgba(var(--spice-rgb-shadow), 0.5) !important;
    }

    /* RIGHT SIDEBAR */
    .Root__right-sidebar, .main-buddyFeed-content, .main-buddyFeed-friendsFeedContainer {
        background: unset !important;
        --background-base: rgba(var(--spice-rgb-shadow), 0.5) !important;
    }
    .main-buddyFeed-friendActivity a, .main-buddyFeed-timestamp {
        color: var(--text-subdued, #6a6a6a) !important;
    }
}
    .main-buddyFeed-container {
        --background-base: var(--backdrop) !important;
    }
    .main-nowPlayingView-section {
        background-color: var(--backdrop);
		padding: 16px;
    }

/* SMOOTH COLOR TRANSITIONS */
@property --spice-sidebar {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-main {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-text {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-subtext {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-button {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
@property --spice-player {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}
html {
    transition:
        --spice-sidebar 0.5s,
        --spice-main 0.5s,
        --spice-text 0.5s,
        --spice-subtext 0.5s,
        --spice-button 0.5s,
        --spice-player 0.5s;
}

/* EXPERIMENTAL FEATURES */
.GenericModal > .main-embedWidgetGenerator-container {
    background-color: transparent !important;
    backdrop-filter: blur(15px);
    height: 1040px;
}
.main-embedWidgetGenerator-container > .main-trackCreditsModal-mainSection::-webkit-scrollbar {
    width: 4px;
}
.main-embedWidgetGenerator-container > .main-trackCreditsModal-mainSection::-webkit-scrollbar-thumb {
    border-radius: 2px
}
.spicetify-exp-features button.switch {
    border-radius: transparent !important
}
.spicetify-exp-features input.search {
    border: none !important;
    background-color: rgba(var(--spice-rgb-selected-row),.1) !important;
    border-radius: var(--button-border);
    padding: 10px 36px;
    color: var(--spice-text);
    width: 100%;
}
.spicetify-exp-features .setting-row .col.description {
    font-size: 0.95rem;
}

/* TRANSPARENT WINDOW CONTROLS */
html:not(.spotify__container--is-desktop.fullscreen) body.windows:not(.video-full-window)::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: 999;
    backdrop-filter: brightness(2.12);
    width: var(--control-width);
    height: var(--control-height);
}
